.footer{
			color: #000;
			width: 100%;
		}
		.footer .content{
			width: 1200px;
			margin: 0 auto;
		}
		.footer .content .left{
			float: left;
			border-right: 1px solid #ccc;
			margin-top: 50px;
			padding: 20px 0;
			width: 395px;
		}
		.footer .content .left .service-tel{
			background: url(../images/service_tel.png) no-repeat  left center/*  24px 24px */;
			color: #00aaa6;
			text-indent: 30px;
			font-size: 22px;
			margin-left: 100px;
		}
		.footer .content .left .tel{
			margin: 8px 0 0 100px; 
		}
		.footer .content .left .tel i{
			font-size: 20px;
		}
		.footer .content .left .tel span{
			background: #00aaa6;
			border-radius: 3px;
			color: #fff;
			display:inline-block;
			font-size: 14px;
			width: 57px;
			height:24px;
			line-height: 24px;
			margin-left: 15px;
			text-align: center;

		}
.follow{
			background: #f8f8f8;
			overflow: hidden;
			width: 100%;
		}
		.follow i{
			font-style: normal;
		}
		.follow .right{
			float: left;
			height: 223px;
			padding-left: 90px;
			width: 700px;
		}
		.follow .right div{
			float: left;
			width: 200px;
			margin-top:40px;
		}
		.follow .right img{
			width: 100px;
			margin: 10px auto;
			display: block;
		}
		.follow .right p{
			font-size: 12px;
			line-height: 14px;
			text-align: center;
		}
		.follow .right .weChat{
			border-right: 1px solid #ccc;
			padding-right: 90px;
		}
		.follow .right .mobile{
			padding-left: 120px;
		}
.footer .links{
			width: 1200px;
			margin: 0 auto;
			height: 306px;
			overflow: hidden;
		}
		.footer .links dl{
			float: left;
			width: 200px;
			margin-top:0;
		}
		.footer .links dl dt{
			font-size: 16px;
			margin: 20px 0;
		}
		.footer .links dd a{
			display: block;
			color: #666;
			font-size: 12px;
			line-height: 24px;
		}
		.footer .copyright{
			background: #3f3f3f;
			width: 100%;
			height: 230px;
			padding: 20px 0;
			color:#999;
			text-align: center;
		}
		.footer .copyright .promise{
			width: 800px;
			margin: 0 auto;
			padding-top:45px;
			overflow: hidden;
		}
		.footer .copyright .promise li{
			float: left;
			width: 200px;
			height: 45px;
		}
		.footer .copyright .promise li img{
			float: left;
		}
		.footer .copyright .promise li a{
			color:#fff;
			font-size: 14px;
			line-height: 45px;
			float: left;
			margin-left: 12px;
		}
		.footer .copyright div p{
			font-size: 12px;
			text-align: center;
			margin-top: 32px;
			line-height: 16px;
		}
		.footer .copyright .bottom_logo{
			margin: 38px auto 0;
			height: 40px;
			width: 
		}
		.footer .copyright .bottom_logo li{
			margin-right: 5px;
			/*float: left;*/
			display: inline-block;
		}